body {
  margin-top: 30px;
  font-family: helvetica, arial;
}
.hero {
  background-color: #0d83dd;
  margin: 23px 0px;
  padding: 55px 23px;
  width: 100%;
  min-height: 446;
}
.hero a {
  color: #85c51f;
}
.hero h1 {
  font-family: helvetica;
  font-size: 51px;
  color: #ffffff;
  line-height: 60px;
}
.hero p {
  font-family: helvetica;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 1px;
}
.table-listing .table-header {
  margin-bottom: 0px;
  background-color: #0d83dd;
}
.table-listing .table-header h2 {
  font-family: Helvetica-Bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}
.table-listing .table-header .columns {
  border-right: 1px solid #ffffff;
  padding: 20px 0px;
}
.table-listing .table-body .columns {
  border-bottom: 3px solid #0d83dd;
  border-right: 1px solid #0d83dd;
  border-top: 1px solid #0d83dd;
  margin-bottom: 20px;
  min-height: 174px;
}
.table-listing .table-body .columns:first-child {
  border-left: 1px solid #0d83dd;
}
